

html, body {
   
   height:100%;
    padding:0;
    margin:0;
    background-size: cover;
 
	
}

.carousel {
    height: 70%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}



